/Encuentros 4 - 10/Ej_CarreraMortal/nbproject/private/
/Encuentros 4 - 10/Ej_CarreraMortal/build/
/Encuentros 4 - 10/Ejercicio1/nbproject/private/
/Encuentros 4 - 10/Ejercicio1/build/
/Encuentros 4 - 10/Ejercicio2/nbproject/private/
/Encuentros 4 - 10/Ejercicio2/build/

*.mp4
/Encuentros 4 - 10/Ejercicio3/nbproject/private/
/Encuentros 4 - 10/Ejercicio3/build/
/Encuentros 4 - 10/Ejercicio4/nbproject/private/
/Encuentros 4 - 10/Ejercicio4/build/
/Encuentros 4 - 10/Ejercicio4/dist/
/Encuentros 4 - 10/Ejercicio5/nbproject/private/
/Encuentros 4 - 10/Ejercicio6/nbproject/private/
/Encuentros 4 - 10/Ejercicio5/build/
/Encuentros 4 - 10/Ejercicio6/build/
/Encuentros 4 - 10/Ejercicio7/nbproject/private/
/Encuentros 4 - 10/Ejercicio7/build/
/Encuentros 4 - 10/Ejercicio8/nbproject/private/
/Encuentros 4 - 10/Ejercicio8/build/
/Encuentros 4 - 10/Ejercicio9/nbproject/private/
/Encuentros 4 - 10/Ejercicio10/nbproject/private/
/Encuentros 4 - 10/Ejercicio10/build/