/Encuentros 4 - 10/Ej_CarreraMortal/nbproject/private/
/Encuentros 4 - 10/Ej_CarreraMortal/build/
/Encuentros 4 - 10/Ejercicio1/nbproject/private/
/Encuentros 4 - 10/Ejercicio1/build/
/Encuentros 4 - 10/Ejercicio2/nbproject/private/
/Encuentros 4 - 10/Ejercicio2/build/

*.mp4