/Encuentros 4 - 10/Ej_CarreraMortal/nbproject/private/
/Encuentros 4 - 10/Ej_CarreraMortal/build/
/Encuentros 4 - 10/Ejercicio1/nbproject/private/
/Encuentros 4 - 10/Ejercicio1/build/
/Encuentros 4 - 10/Ejercicio2/nbproject/private/
/Encuentros 4 - 10/Ejercicio2/build/

*.mp4
/Encuentros 4 - 10/Ejercicio3/nbproject/private/
/Encuentros 4 - 10/Ejercicio3/build/
/Encuentros 4 - 10/Ejercicio4/nbproject/private/
/Encuentros 4 - 10/Ejercicio4/build/
/Encuentros 4 - 10/Ejercicio4/dist/
/Encuentros 4 - 10/Ejercicio5/nbproject/private/
/Encuentros 4 - 10/Ejercicio6/nbproject/private/
/Encuentros 4 - 10/Ejercicio5/build/
/Encuentros 4 - 10/Ejercicio6/build/
/Encuentros 4 - 10/Ejercicio7/nbproject/private/
/Encuentros 4 - 10/Ejercicio7/build/
/Encuentros 4 - 10/Ejercicio8/nbproject/private/
/Encuentros 4 - 10/Ejercicio8/build/
/Encuentros 4 - 10/Ejercicio9/nbproject/private/
/Encuentros 4 - 10/Ejercicio10/nbproject/private/
/Encuentros 4 - 10/Ejercicio10/build/
/Encuentros 11 - 22/Ejercicio1/nbproject/private/
/Encuentros 11 - 22/Ejercicio1/build/
/Encuentros 11 - 22/repasoB/nbproject/private/
/Encuentros 11 - 22/repasoB/build/
/Encuentros 11 - 22/repasoC/nbproject/private/
/Encuentros 11 - 22/repasoC/build/
/Encuentros 11 - 22/IntegradorA/nbproject/private/
/Encuentros 11 - 22/IntegradorA/build/
/Encuentros 23 - 32/Guia3/nbproject/private/
/Encuentros 23 - 32/Guia3/build/
/Encuentros 23 - 32/Guia3Ej2/nbproject/private/
/Encuentros 23 - 32/Guia3Ej2/build/
/Encuentros 23 - 32/JavaApplication14/nbproject/private/
/Encuentros 23 - 32/JavaApplication14/build/
/Encuentros 23 - 32/Guia3Ej4/nbproject/private/
/Encuentros 23 - 32/Guia3Ej4/build/
/Encuentros 23 - 32/Guia3Ej1Extra/nbproject/private/
/Encuentros 23 - 32/Guia3Ej2/dist/
/Encuentros 23 - 32/ejercicio2x2/nbproject/private/
/Encuentros 23 - 32/ejercicio2x2/build/
/Encuentros 23 - 32/Guia3Ej1Extra/build/
/Encuentros 23 - 32/Guia3Extra2/nbproject/private/
/Encuentros 23 - 32/Guia3Extra2/build/
/Encuentros 23 - 32/Guia4Ej1/nbproject/private/
/Encuentros 23 - 32/JavaApplication20/nbproject/private/
/Encuentros 23 - 32/JavaApplication21/nbproject/private/
/Encuentros 23 - 32/JavaApplication22/nbproject/private/
/Encuentros 23 - 32/Guia4Ej1/build/
/Encuentros 23 - 32/Guia4Ej2/nbproject/private/
/Encuentros 23 - 32/Guia4Ej2/build/
/Encuentros 23 - 32/Guia4Ej3/nbproject/private/
/Encuentros 23 - 32/Guia4Ej4/nbproject/private/
/Encuentros 23 - 32/Guia4Ej4/build/
/Encuentros 23 - 32/Guia4EjExtra1/nbproject/private/
/Encuentros 23 - 32/Guia3Ej2(Array)/nbproject/private/
/Encuentros 23 - 32/Guia3Ej3/nbproject/private/
/Encuentros 23 - 32/Guia3Ej1/nbproject/private/
/Encuentros 23 - 32/Guia3Ej2Extra/build/
/Encuentros 23 - 32/Guia3Ej2Extra/nbproject/private/
/Encuentro 33 - 42/Act3/build/
/Encuentro 33 - 42/Act3/nbproject/private/
/Encuentro 33 - 42/Guia4Ej3/build/
/Encuentro 33 - 42/Guia4EjExtra1/build/
/Encuentro 33 - 42/Guia4EjExtra2/nbproject/private/
/Encuentro 33 - 42/Guia4EjExtra2/build/
/Encuentro 33 - 42/Guia4Complement1/nbproject/private/
/Encuentro 33 - 42/Guia5Ej1/nbproject/private/
/Encuentros 43 - 49/Guia5Ej1/build/
/Encuentro 33 - 42/Guia5Ejercicio2/nbproject/private/
/Encuentro 33 - 42/Guia5Ejercicio2/build/
/Encuentro 33 - 42/Guia5Ej3/nbproject/private/
/Encuentro 33 - 42/Guia5Ej3/build/
/Encuentro 33 - 42/Guia5Ej4/nbproject/private/
/Encuentro 33 - 42/Guia5Ej4/build/
/Encuentro 33 - 42/Guia5Ej5/nbproject/private/
/Encuentro 33 - 42/Guia5Ej5/build/
/Encuentro 33 - 42/Guia5Ej6/nbproject/private/
/Encuentro 33 - 42/Guia5Ej6/build/
/Encuentro 33 - 42/Guia5Ej7/nbproject/private/
/Encuentro 33 - 42/Guia5Ej7/build/
/Encuentros 50 - 56/Guia5pt2Ej1/nbproject/private/
/Encuentros 50 - 56/Guia5pt2Ej2/nbproject/private/
/Encuentros 50 - 56/Guia5pt2Ej3/nbproject/private/
/Encuentros 50 - 56/Guia5pt2Ej5/nbproject/private/
/Encuentros 50 - 56/Guia5pt2Ej5/build/
/Encuentros 57 - 62/Guia6Ej1/nbproject/private/
/Encuentros 57 - 62/Guia6Ej1/build/
/Encuentros 57 - 62/Guia6Ej2/nbproject/private/
/Encuentros 23 - 32/Guia3Ej3Extra/nbproject/private/
/Encuentros 57 - 62/Guia6Ej2/build/
/Encuentros 57 - 62/Guia6Ej3/nbproject/private/
/Encuentros 57 - 62/Guia6Ej3/build/
/Encuentros 57 - 62/Guia6Ej4/nbproject/private/
/Encuentros 57 - 62/Guia6Ej4/build/
/Encuentros 57 - 62/Guia6Ej5/nbproject/private/
/Encuentros 57 - 62/Guia6Ej5/build/
/Encuentros 57 - 62/Guai6Ej6/nbproject/private/
/Encuentros 57 - 62/Guia6Ej7/nbproject/private/
/Encuentros 57 - 62/Guia6Ej6/nbproject/private/
/Encuentros 57 - 62/Guia6Ej8/nbproject/private/
/Encuentros 57 - 62/Guia6Ej8/build/
/Encuentros 57 - 62/Guia6Ej9/nbproject/private/
